---
import Section from "../components/Section.astro";
import Layout from "../components/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

import gammes, { GammeItem } from "../data/gammes";

const byGamme = gammes.reduce((acc, val) => {
  if (acc[val.type]) {
    acc[val.type].push(val);
  } else {
    acc[val.type] = [val];
  }
  return acc;
}, {} as Record<string, GammeItem[]>);
---

<style>
  ul {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 44px;
    list-style: none;
    padding: 0;
  }

  .products {
    margin-top: 120px;
  }

  .category-title {
    position: sticky;
    top: 60px;
    padding-bottom: 22px;
    padding-top: 22px;
    background-color: var(--color-background);
    z-index: 1;
  }
</style>

<Layout title="Notre gamme">
  <div class="products">
    <Section title="Notre gamme">
      <p>
        Tous nos produits sont fabriqués à partir d’ingrédients issus de
        l’agriculture biologique.
      </p>
      <p>
        Ils sont macérés et/ou fermentés dans nos cuves puis distillés dans nos
        alambics traditionnels en cuivre.
      </p>
      <p>
        Les produits que nous utilisons sont soigneusement sélectionnés, ils
        sont majoritairement issus de l’agriculture locale et certains sont
        ramassés par nos soins.
      </p>
    </Section>
  </div>

  {
    Object.entries(byGamme).map(([category, items]) => (
      <div class="container">
        <h2 class="category-title" id={category}>
          {category}
        </h2>
        <ul aria-labelledby={category}>
          {items.map((g) => (
            <ProductCard
              title={g.name || g.label}
              titre={g.titre}
              volume={g.volume}
            >
              {g.description}
            </ProductCard>
          ))}
        </ul>
      </div>
    ))
  }
</Layout>
