---
import { Image } from "@astrojs/image/components";

const { title, titre, volume, id } = Astro.props;
---

<style>
  li {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 12px;
    font-style: oblique;
  }

  .stack {
    opacity: 0.9;
    display: flex;
    gap: 24px;
    color: var(--color-primary);
  }

  .img-container {
    min-width: 400px;
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
  }

  .img-container > * {
    transform: scale(1);
    transition: transform 400ms ease-in-out;
  }

  .img-container:hover > * {
    transform: scale(1.15) translateY(-20px);
    transition: transform 400ms ease-in-out;
  }

  .content {
    flex-grow: 1;
    width: min-content;
    min-width: 300px;
  }
</style>

<li>
  <div class="img-container">
    <Image
      src={`image/gamme/${id}.JPG`}
      alt={`${title} image`}
      width={400}
      height={600}
      format="webp"
      background="black"
    />
  </div>
  <div class="content">
    <div class="title">
      {title}
    </div>
    <div class="stack">
      <span>Titrage volumique: <strong>{titre}</strong></span>
      <span>Volume: <strong>{volume}</strong></span>
    </div>
    <p>
      <slot />
    </p>
  </div>
</li>
